<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>{{ header }}</h1>
        <form action="." method="post">
            {% csrf_token %}
            <label>Firstname: </label>
            {{ contact_form.firstname }}
            {{ contact_form.firstname.errors }}
            <label>Last Name:</label>
            {{ contact_form.lastname }}
            {{ contact_form.lastname.errors }}
            <label>Email:</label>
            {{ contact_form.email }}
            {{ contact_form.email.errors }}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
